/node_modules
/public/build
/public/hot
/public/storage
/public/asoug
/public/asouggreen
/public/basariat
/public/beautyincu
/public/bookincu
/public/caincu
/public/coffeeincu
/public/einayh
/public/enrincu
/public/eventincu
/public/faincu
/public/gnincu
/public/healthincu
/public/mhams
/public/miningincu
/public/nsseb
/public/safincu
/public/tejmel
/public/fruitveget
/public/traincu
/public/reincu
/public/spincu
/public/amlakin
/public/labsincu
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.idea
/.vscode
*.zip

